.btn {
  width: 50px;
  height: 50px;
  margin: 2px 0px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 4px;
}

.btn {
  background-color: #ebebf0;
}

.btn-primary {
  background-color: #4287f5;
  color: white;
}

.btn-secondary {
  background-color: #d2d2d5;
}

.display-container {
  width: 210px;
  height: 36px;
  margin: 2px 0px;
  font-size: 25px;
  border: 1px solid grey;
  border-radius: 4px;
  overflow: scroll;
}

.display {
  float: right;
  margin-right: 8px;
  font-size: 25px;
}

.riple {
  position: relative;
  overflow: hidden;
}

.impl-riple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);

  --size: 50px;
  width: var(--size);
  height: var(--size);
  margin-top: calc(0px - (var(--size) / 2));
  margin-left: calc(0px - (var(--size) / 2));

  animation: ripple 1.5s;
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
